/.vscode/
UnRARDLL.exe
__pycache__/
projects.json
projects.pickel.json
projectsSorted.json
projectsSorted.pickel.json
app.projects.json
app.projects.pickel.json
app.projects_sorted.json
app.projects_sorted.pickel.json
app._project_list_load_via_pathlib.json
app._project_list_load_via_pathlib.pickel.json
